#home_div{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.home_container{
    width: 100%;
    display: flex;
    flex: 1;
    
}
.info_page{
    background-color: #EFF7FF;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    max-height: 100vh;
}